{% extends 'base.html' %}

{% block preload_js %}
<script type="text/javascript">
$(document).ready(function() {
	$("#datepicker").datepicker({
		onSelect: function(dateText, inst) {
			var date = new Date(dateText);
			window.location = "/projects/{{ project.pk }}/schedule/callsheet/" + date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + "/";
		},
		minDate: new Date({{ project.start_date.year }}, {{ project.start_date.month }} - 1, {{ project.start_date.day }}),
		maxDate: new Date({{ project.end_date.year }}, {{ project.end_date.month }} - 1, {{ project.end_date.day }})

	});
});
</script>
{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>
<div class="info_block">
<h3>Production Info</h3>
<p>{{ project.description }}</h1>
<a href="/projects/{{ project.pk }}/edit">Edit</a>
</div>
<div class="info_block">
<h3>Cast and Crew</h3>
<p>{{ num_contacts }} cast and crew members listed.</p>
<a href="/projects/{{ project.pk }}/contacts/">Add/Edit</a>
</div>
<div class="info_block">
<h3>Group Info</h3>
{% if groups %}
<ul>
{% for group in groups %}
	<li>{{ group.name }}</li>
{% endfor %}
</ul>
{% endif %}
<a href="/projects/{{ project.pk }}/groups/edit">Edit</a>
</div>
<div class="info_block">
<h3>Schedule Info</h3>
{% if project.start_date %}
<p>Jump to date: <input type="text" id="datepicker" /></p>
{% else %}
<p><a href="/projects/{{ project.pk }}/edit/">Edit start and end dates</a></p>
{% endif %}
</div>
{% endblock %}